ion-segment {
  margin: 10px 15px;
}

ion-item {
  padding: 2px 0px;
  --ion-background-color: #1a237e;

  ion-avatar {
    height: 40px;
    width: 40px;
  }

  ion-label {
    padding: 10px;
    color: white;

    p {
        color: white;
    }
  }
}
