<ion-header [translucent]="true">
  <div style="height: 70px;"></div>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Discuss</ion-title>
    </ion-toolbar>
    <ion-searchbar placeholder="Search"></ion-searchbar>
  </ion-header>

  <ion-segment value="all" scrollable ion-padding>
    <ion-segment-button value="all" color="primary">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="impacts">
      <ion-label>Impacts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="quirosity">
      <ion-label>Quriosity</ion-label>
    </ion-segment-button>
    <ion-segment-button value="saved">
      <ion-label>Saved</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item-sliding *ngFor="let item of list" (click)="goToQuestion()">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/images/person_1.jpg">
        </ion-avatar>
        <ion-label text-wrap>
          <h3>{{ item.questionText }}</h3>
          <ion-icon name="heart"></ion-icon>
          <p>{{ item.likeCount }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">Hide</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="secondary">Save</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addQuestion()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>