<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="dismiss()">Close</a>
    </ion-buttons>
    <ion-buttons slot="end">
      <a (click)="dismiss()">Post</a>
    </ion-buttons>
    <ion-title>New Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-label position="stacked">Title <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea auto-grow placeholder="Enter content here..." [(ngModel)]="content" name="content"></ion-textarea>
    </ion-item>
  </form>
</ion-content>