<ion-header>
  <ion-toolbar>
    <ion-title>Post a question</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <textarea name="" id="" cols="30" rows="10"></textarea>
</ion-content>