<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="question">
    <ion-grid>
      <ion-row>
        <ion-col size=2>
          <img src="../../../assets/images/person_3.svg">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              Vrund Patel <br>
              @vrundpatel
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h5>Who would win a fight between Superman and Batman?</h5>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <p>#Superman #Batman #Superheroes #hastags </p>
        </ion-col>
      </ion-row>

      <ion-button>
        <ion-icon slot="start" name="heart"></ion-icon>
        1235
      </ion-button>

      <ion-button class="ion-float-end">
        <ion-icon slot="start" name="share"></ion-icon>
      </ion-button>
    </ion-grid>
  </div>


  <div id="replies">
    <ion-list>
      <ion-item *ngFor="let reply of replies">
        <ion-avatar slot="start">
          <img src="../../../assets/images/person_2.jpeg">
        </ion-avatar>
        <ion-label text-wrap>
          <h3>fasdfaf</h3>
          <ion-icon name="heart"></ion-icon>
          <p>fasdfafd</p>
        </ion-label>
      </ion-item>
      
    </ion-list>
  </div>

</ion-content>