<app-profile-menu></app-profile-menu>

<ion-header [translucent]="true">
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="profile-bg" class="ion-text-center">
    <ion-grid>
      <div style="padding-top: 40px"></div>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5">
          <img src="../../assets/images/person_3.svg" alt=""> <br>
          <h2>John Doe</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>7.9K <br> <span>posts</span></h3>
        </ion-col>
        <ion-col>
          <h3>4.5m <br> <span>followers</span></h3>
        </ion-col>
        <ion-col>
          <h3>964 <br> <span>impacts</span></h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div id="stats" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>1hr 2m</h2>
          Read time
        </ion-col>
        <ion-col>
          <h2>45m</h2>
          Contributions
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div id="recent-activity">
    <ion-list>
      <ion-list-header>
        Recent Activity
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/images/person_3.svg">
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/images/person_3.svg">
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/images/person_3.svg">
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/images/person_3.svg">
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>



  <div id="main">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-content>