ion-content {
    --ion-background-color: #E5E5E5;
}

#profile-bg {
    background: url('../../assets/images/default_bg.jpg');
    height: 45%;
    color: white;

    img {
        height: 120px;
        width: 100%;
    }
}

span {
    font-size: 18px;
}