<ion-header [translucent]="true">
  <div style="height: 20px;"></div>
  <ion-toolbar>
    <ion-searchbar placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="filters">
    <ion-button color="primary" shape="round" size="small">Story</ion-button>
    <ion-button color="primary" fill="outline" shape="round" size="small">Poem</ion-button>
    <ion-button color="primary" fill="outline" shape="round" size="small">Blog</ion-button>
    <ion-button color="primary" fill="outline" shape="round" size="small">Book</ion-button>
  </div>
  <div class="content-list">
    <div class="content" *ngFor="let content of list">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>@{{ content.createdBy }}</ion-card-subtitle>
          <ion-card-title>{{ content.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ content.content }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addContent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-list side="top">
      <ion-fab-button color="secondary">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="book"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>
</ion-content>